.collection-page {
  .title {
    font-size: 2rem;
    margin-bottom: 1.75rem;
  }

  .items{
    margin-bottom: 2rem;
  }
}

@media(min-width:1024px){
  .collection-page{
    margin-bottom: 1rem;
  
    .title {
      font-size: 2.5rem;
      margin-bottom: 1.75rem;
    }
  
    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
    }
  }
}
