.collection-preview {
  margin-bottom: .5rem;

  .title {
    font-size: 2rem;
    margin-bottom: 1.75rem;
  }
}

@media(min-width:1024px){
  .collection-preview {
    margin-bottom: 1rem;
  
    .title {
      font-size: 2.5rem;
      margin-bottom: 1.75rem;
    }
  
    .preview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
    }
  }
}
